/* ---------------------------------Styling for Admin Menu---------------------- */
#adminDash {
    display: flex;
    gap: 20px;
    height: 99vh;
  
    margin: -0.5%;
}

#left-container {

    width: 15%;
    height: 100%;
    background-color: rgb(0, 31, 73);
}

#userDetails {
    margin: auto;
    margin-top: 40%;
    height: auto;
    width: 80%;
    text-align: center;
}

#userDetails>img {
    margin-top: 10%;
    width: 60%;
    height: 50%;
}

#userDetails>h2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#userDetails>h4 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#userDetails>h2:hover,
#userDetails>h4:hover {
    cursor: pointer;
}

.logout {
    width: 5%;
    height: 5%;
    color: white;
}

#adminIcon {
    color: white;
}

#adminMenu>div {
    display: flex;
    align-items: center;
    padding: 0px;
    height: 60px;
    width: 100%;
    justify-content: center;
}

#adminMenu :hover {
    background-color: rgb(0, 21, 50);
    cursor: pointer;
}

#adminMenu>div>p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ---------------------------------Styling for Admin Dashboard---------------------- */
#right-dash {
    display: flex;
    width: 85%;
}

#adminContainer {
    width: 65%;
    height: 100%;
}

.userData {
    margin-left: 55%;
    height: 10px;
}

#adminContainer>h1,
#adminShirtContainer>h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.line {
    border: 2px solid grey;
    margin-top: 1%;
    margin-bottom: 1%;
}

.adminalldata {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 130x;
    width: 80%;
    height: 40%;
    gap: 3%;

}

.adminalldata>div {
    border-radius: 20px;
    padding-left: 2%;
    text-align: center;
}

.adminalldata>div:nth-child(1) {
    background-color: rgb(0, 21, 50);
}

.adminalldata>div:nth-child(2) {
    background-color: rgb(208, 66, 78);
}

.adminalldata>div:nth-child(3) {
    background-color: #F5A623;
}

.adminalldata>div>h2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ---------------------------------Styling for Admins Details---------------------- */
#admin-details {
    display: flex;
    place-content: center;
    /* border: 2px solid; */
    width: 100%;
    height: 41%;
}

#admin-details>div {
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 18%;
    height: 70%;
    text-align: center;

}

#admin-details>div>img {
    margin-top: 15%;
    width: 70%;
    height: 50%;
    border-radius: 50%;
}

#admin-details>div>p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* ---------------------------------Styling for notification and graph ---------------------- */

#notify-graph {
    width: 32%;
    height: 100%;

}

#notify-graph>div {
    height: 50%;

}

#notify {
    padding: 5%;
    place-content: center;

}

#title {
    width: 100%;
    border: 2px solid;
    padding: 15px 22px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    resize: none;
    font-size: 20px;
}

#desp {

    width: 100%;
    height: 52%;
    padding: 15px 22px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    resize: none;
    font-size: 18px;
}

#postData {
    padding: 3%;
    height: 10%;
    width: 100%;
    color: white;
    background-color: rgb(0, 21, 50);
    border-radius: 5px;
}

/* ---------------------------------Styling for Admin shirt---------------------- */
#adminShirtContainer {
    display: none;
    margin-top: 3%;
    width: 85%;
}

.shirtContainer {
    width: 65%;
    height: 100%;
}

.addShirt-data {
    padding: 3%;
background-color: #ccc;
    width: 32%;
    margin-left: 2%;
}

.adminshirtdata>div>h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

table {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;

}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
#suitbutton{
    margin-top: 2%;
}
#suitbutton>button{
    height: 26px;
    width: 26px;
    background-color:white ;
    border: 0.5px solid;
    border-radius: 5px;
}
#shirtbutton{
    margin-top: 2%;
}
#shirtbutton>button{
    height: 26px;
    width: 26px;
    background-color:white ;
    border: 0.5px solid;
    border-radius: 5px;
}
#pantbutton{
    margin-top: 2%;
}
#pantbutton>button{
    height: 26px;
    width: 26px;
    background-color:white ;
    border: 0.5px solid;
    border-radius: 5px;
}

#pantbutton>button:hover,#shirtbutton>button:hover ,#suitbutton>button:hover{
    cursor: pointer;
    background-color: #dddddd;
}




#displayshirtItem {
    margin-top: 1%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(0, 21, 50);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(0, 21, 50);
}

#addShirt-data>h2 {
    margin: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#addShirt-data>div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15%;
}
.adminPagelogo{
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    
}
.adminPagelogo>img{
  
    height: 30%;
    width: 50%;
    border-radius: 50%;
}

/* ---------------------------------Styling for Admin pants---------------------- */
#adminPantsContainer {
    display: none;
    margin-top: 3%;
    width: 85%;
}

/* ---------------------------------Styling for Admin suits---------------------- */
#adminSuitsContainer {
    display: none;
    margin-top: 3%;
    width: 85%;
}
/* -----------------extra--------------- */


marquee{
    margin-top: 2%;
    font-size: 20px;
}