/* navBar css for desktop mode */
#nav {

    display: flex;
    justify-content: center;
    align-items: center;
    

}

#logo {

    width: 200px;
}

.fa-user{
    margin-right: 5px;
    margin-bottom: 5px;
}

#mainsearch {
    height: 40px;
    width: 90%;
    border: none;
    outline: none;
    padding-left: 7px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

#searchbody {
    border-radius: 5px;
    width: 70%;
    background-color: rgb(240, 240, 240);
}

.fa-bag-shopping {
    font-size: 30px;
    margin-left: 50px;
}

.fa-location-dot,
.fa-user {
    font-size: 22px;
}

.fa-user {
    margin-left: 30px;
}

#navleft {
    position: absolute;
    left: 5%;
}

#rightNav {

    width: 30%;
    position: absolute;
    display: flex;
    align-items: center;

    right: 2px;
}

#navForPhoneMode {
    display: none;
}

#dropDown1Div,
#dropDown2Div,
#dropDown3Div,
#dropDown4Div,
#dropDown5Div,
#dropDown6Div,
#dropDown7Div {
    display: none;
}

body {
    position: relative;
    overflow-x: hidden;
}

.dropDown1:hover #dropDown1Div {
    display: block;
    display: flex;
}


.dropDown2:hover #dropDown2Div {
    display: block;
    display: flex;
}

.dropDown3:hover #dropDown3Div {
    display: block;
    display: flex;
}

.dropDown4:hover #dropDown4Div {
    display: block;
    display: flex;
}


.dropDown5:hover #dropDown5Div {
    display: block;
    display: flex;
}


.dropDown6:hover #dropDown6Div {
    display: block;
    display: flex;
}

.dropDown7:hover #dropDown7Div {
    display: block;
    display: flex;
}

#DropDownNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
    font-size: 12px;
    height: 6vh;
    position: sticky;
    top: 0px;
    z-index: 300000;
    background-color: rgb(240, 240, 240);
}

.WhenDropDown {

    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: white;
    left: 0;
      margin-top: 12px;
    width: 100%;
    gap: 7%;
    padding: 20px;
}
.dropDown1 a{
    
    padding-bottom: 12px;
    
}
.dropDown2 a{
    
    padding-bottom: 12px;
    
}
.dropDown3 a{
    
    padding-bottom: 12px;
    
}
.dropDown4 a{
    
    padding-bottom: 12px;
    
}
.dropDown5 a{
    
    padding-bottom: 12px;
    
}
.dropDown6 a{
    
    padding-bottom: 12px;
    
}
.dropDown7 a{
    
    padding-bottom: 12px;
    
}

.imageofDropDown {

    display: flex;
    gap: 18px;
    justify-content: right;
    width: 40%;
}

.threeimgofDropDown {
    width: 27%;
    height: 50%;
}

#shoesimage {
    width: 90%;
}

.threeimgofDropDown img {
    width: 100%;
}

.pInimage {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.sectionOfDropDown {
    display: flex;

    width: 60%;

    gap: 15%;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.ul li {
    list-style-type: none;
}

.section {
    margin-top: 10px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: black;
}
#sidebar{
    display: none;
}

/* navbar for desktop mode */



/* footer of desktop mode */

#footer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bodyOfemailinput{
    margin: 20px 0px;
    
    background-color:  rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100px;
    width: 100%;
    
}

#pOffooteremail{
    text-align: center;
    margin-left: 20%;
}
#enterEmail{
    width: 250px;
    height: 35px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    outline: none;
}
#divOfInput{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 70);
    border: 0.5px solid rgb(0, 0, 70);
    margin-right: 30%;
   
}
#spamSideofSearch{
    color: white;
    margin-right: 10px;
}
#divForUlAndLis{
    width: 70%;
    border-style: solid;
    border-width: 0px 0px 0.3px 0px;
    border-color: rgb(175, 175, 175);
    margin: auto;
    padding-bottom: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 45px;
}
#divForUlAndLis ul li{
    list-style-type: none;
    font-size: 12px;
    margin-top: 15px;
    font-family: sans-serif;
}

#divForUlAndLis ul b{
    font-size: 12px;
    font-family: sans-serif;
}
#moneypayService p{
    text-align: center;
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 12px;
}
#imageOfmoneyTransfer,#prem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-style: solid;
    border-color: rgb(175, 175, 175);
    border-width: 0px 0px 0.3px 0px;
    margin: auto;
    gap: 8px;
    margin-top: 15px;
    padding-bottom: 35px;
}
#imageOfmoneyTransfer img{
    width: 45px;
}
#prem img{
    width: 120px;
    margin-top: 20px;
}
#lstDiv{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 120px;
}
.lastP{
    margin-top: 20px;
    font-size: 11px;
    margin-bottom: 15px;
}
#video{
    width: 100%;
}
#footerForPhoneMode{
    display: none;
}

/* footer fore desktop mode */

@media screen and (max-width:400px) {
    #nav,#DropDownNav {
        display: none;
    }


    #navForPhoneMode {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(240, 240, 240);
    }
    #footer{
        display: none;
    }

    #uperNav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    #leftphone {
        position: absolute;
        left: 4%;
    }

    #logophone {
        width: 30%;
        margin: 7px 0px;
    }

    #rightphone {
        position: absolute;
        right: 5%;
    }

    .fa-bars {
        margin-right: 10px;
        font-size: 23px;
    }

    .fa-bag-shopping {
        font-size: 28px;
        margin-left: 10px;
    }

    .fa-magnifying-glass {
        font-size: 24px;
    }

    #phoneSearchBar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        background-color: white;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 40px;
    }

    #searchphoneInput {
        width: 90%;
        height: 100%;
        padding-left: 5px;
        border: none;
        outline: none;
    }

    #phoneSearchBar .fa-magnifying-glass {
        font-size: 18px;
    }

    #sidebar {
        display: block;
        height: 100%;
        position: fixed;
        z-index: 100;
        left: 0px;
        top: 0;
        width: 100%;
        background-color: white;
        transform: translateX(-100%);
        transition: transform 250ms ease-in-out;
    }
    #sidebar ul {
      list-style-type: none;
        display: flex;
        flex-direction: column;
       background-color:rgb(240, 240, 240);
        padding-left: 10px;
    }
    #sidebar ul li{
      margin-top: 30px;
    }
    #logoForsidebar{
        width: 90px;
    }
    .fa-xmark{
        font-size: 20px;
        margin: auto;
        
    }
    #sidebarCros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50px;
       
       
    }
    #uperLogoandCrosInSidebar{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        padding: 20px;
    }
    #sidebarCros p{
        text-align: center;
        
    }
    #sidebar ul li i{
        margin-right: 10px;
    }
    #footerForPhoneMode{
        background-color: white;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
    #uperfooterDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(240, 240, 240);
        padding: 20px 0px;
        
    }
    #divOfEmailInput{
        display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 70);
    border: 0.5px solid rgb(0, 0, 70);
    margin-top: 15px;
    }
    #emailfillForphoneFooter{
        width: 250px;
        height: 35px;
        margin-right: 10px;
        padding: 10px;
        border: none;
        outline: none;
    }
    #rightOfemail{
        color: white;
        margin-right: 10px;
    }
    #pOfUpsideOfEmail{
        font-size: small;
        font-family: sans-serif;
    }
    .select{
        height: 50px;
        width: 99%;
        margin: auto;
        border-style: solid;
        border-width: 0.2px 0px 0.2px 0px;
        outline: none;
    }
    #socialMeadiaIconInFooter{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .fa-brands{
        font-size: 30px;
    }
    .imageOfmoneyTransfer,.prem{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-style: solid;
        border-color: rgb(175, 175, 175);
        border-width: 0px 0px 0.3px 0px;
        margin: auto;
        gap: 8px;
        margin-top: 15px;
        padding-bottom: 35px;
    }
    .imageOfmoneyTransfer img{
        width: 45px;
    }
    .prem img{
        width: 120px;
        margin-top: 10px;
    }
    .lastp{
        text-align: center;
        margin-top: 20px;
        font-family: sans-serif;
    }
    #p1,#p2,#p3,#p4{
        font-size: small;
    }
    #p4{
        margin-bottom: 40px;
    }
}