
/* Description */

.description {
    display: flex;
    margin: auto;
    width: 98%;
    height: 300px;
    margin-top: 50px;
    background-color: #f5f5f5;
    /* border: 1px solid red; */
}

.desc-section{
    width:50%;
    text-align: center;
}

.desc-section h1{
    margin-top: 70px;
}

.desc-section p {
    width: 75%;
    text-align: center;

    margin: auto;

}

.desc-images{
    display: flex;
    margin: auto;
    width: 50%;
}

.desc-images div{
    width: 33.33%;
}

.desc-images div img{
    height: 300px;
}

img{
    width: 100%;
   
}

/* Multibuy */

/* .multibuy{
    display: block;
    margin: auto;
    height: 60px;
    border: 1px solid red;
    margin-top: 20px;
    width: 98%;
    background-color: #f5f5f5;
}

.multibuy .mul-image{
  
    width: 8%;
}

.multibuy .mul-desc1{
    margin-top: 7px;
    
}

.multibuy .mul-desc2{
    margin-top: -7px;
    
}

.multibuy .mul-image img{
    height: 30px;
    width: 30px;
} */

.container{
    display: flex;
    margin: auto;
    margin-top: 40px;
}

.container .filter{
    border: 1px solid red;
    width: 20%;
    margin-right: 30px;
}


.container .product{
    width: 80%;
    
} 

#product{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

#product img{
    margin: auto;
    width: 80%;
}