
/* Description */

.description {
    display: flex;
    margin: auto;
    width: 98%;
    height: 300px;
    margin-top: 50px;
    background-color: #f5f5f5;
    /* border: 1px solid red; */
}

.desc-section{
    width:50%;
    text-align: center;
}

.desc-section h1{
    margin-top: 70px;
}

.desc-section p {
    width: 75%;
    text-align: center;

    margin: auto;

}

.desc-images{
    display: flex;
    margin: auto;
    width: 50%;
}

.desc-images div{
    width: 33.33%;
}

.desc-images div img{
    height: 300px;
}

img{
    width: 100%;
   
}

/* Multibuy */

.multibuy{
    display: flex;
    margin: auto;
    height: 60px;
    margin-top: 20px;
    width: 98%;
    background-color: #f5f5f5;
}

.multibuy .mul-image{
    display: flex;
    width: 3%;
    align-items: center;
    margin-left: 10px;
}

.multibuy .mul-desc1{
    margin-top: 8px;
}

.multibuy .mul-desc2{
    margin-top: -11px;

}

.multibuy .mul-image img{
    height: 30px;
    width: 30px;
}

/* Product */

.container{
    display: flex;
    margin: auto;
    margin-top: 20px;
    width: 98%;
}

.container .filter{
    width: 20%;
    margin-right: 30px;
}


.container .product{
    width: 80%;
    
} 

#product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

#product img{
    margin: auto;
    width: 100%;
}

#product button{
    color: #FFFFFF;
    background-color: #001F49;
}

#select{
    margin-right: 100px;
}

.buy{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 700;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
}

.paginationstyle{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 700;
}


/* Pagination */




.page{
   display: flex;
   margin: auto;
   margin-top: 2%;
   margin-left: 22%;
   align-items: center;
   width: 74%;
   height: 40px;
   justify-content: center;
}  

.pagination-of-shirt{
    width: 35px;
    height: 35px;
    color: #FFFFFF;
    background-color: #001F49;
    font-weight: 800;
    font-size: 20px;
    border-radius: 2px;
    border: 10 solid red;
    justify-content: center;
   
}

.hover{
    cursor: pointer;
}




.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* border: .5px solid #001F49; */
    border:none;
    outline: none;
    transition: 0.4s;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    justify-content: center;
    font-weight: 700;
    font-size: medium;
    position: sticky;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-weight: 600;
  }